---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <Header />

    <main>
        <form id="loginForm">
            <div class="mb-4">
                <label
                    for="username"
                    class="block text-gray-700 text-sm font-bold mb-2"
                    >Username:</label
                >
                <input
                    type="text"
                    id="username"
                    name="username"
                    class="border border-gray-300 rounded-md px-4 py-2 w-full focus:outline-none focus:ring-blue-500 focus:border-blue-500"
                    required
                />
            </div>
            <div class="text-center">
                <button
                    type="submit"
                    class="bg-purple-500 text-white py-2 px-4 rounded-md hover:bg-purple-600"
                    >Login</button
                >
            </div>
        </form>
    </main>
</Layout>

<style>
    main {
        margin: auto;
        padding: 1.5rem;
        max-width: 60ch;
    }
</style>

<script type="module">
import { client } from "/webauthn.min.js";
document
    .querySelector("#loginForm")
    .addEventListener("submit", async function (event) {
        event.preventDefault();
        let response = await fetch("/api/nonce", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: "{}",
        });
        if (!response.ok) {
            alert("Please refresh the page. Error generating challenge.");
        }
        let data = await response.json();
        const challenge = data.nonce;
        const username = event.target.username.value.trim();
        response = await fetch("/api/creds", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify({ username: username }),
        });
        if (!response.ok) {
            alert("Please refresh the page. Error getting credentials.");
        }
        data = await response.json();
        const authentication = await client.authenticate(
            data.creds,
            challenge,
            {
                authenticatorType: "auto",
                    userVerification: "required",
                    timeout: 60000,
                }
            );
            response = await fetch("/api/authenticate", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                credentials: "include",
                body: JSON.stringify({
                    auth: authentication,
                    challenge: challenge,
                }),
            });
            if (!response.ok) {
                alert(
                    "There was an error logging in. Please try with a different username. Is this the device you used when registering?"
                );
            } else {
                window.location.href = "/friends";
            }
        });
</script>
